<div>
    <div>
        <h1>GymConnection</h1>
        <h3>Cliente</h3>
        <a href="">¿Eres un entrenador?</a>
    </div>
    <div>
        <h3>Create una cuenta gratis</h3>
        <form>
            <table>
                <tr>
                    <td>
                        <h4>Nombre completo</h4>
                        <mat-form-field>
                            <mat-label>Ingresa tu nombre completo</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <h4>Correo</h4>
                        <mat-form-field>
                            <mat-label>Ingresa tu correo electrónico</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <h4>Contraseña</h4>
                        <mat-form-field>
                            <mat-label>Crea una contraseña</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <h4>Ubicación</h4>
                        <mat-form-field>
                            <mat-label>Ingresa tu ubicación actual</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
              </tr>
            </table>
        </form>
        <button mat-button>Crea tu cuenta</button>
        <a href="">¿Ya tienes una cuenta? Inicia sesión</a>
    </div>
</div>
