.body h1{
    position: absolute;
    width: 574px;
    height: 264px;
    left: 110px;
    top: 214px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #FFFFFF;
}
.body h5{
    position: absolute;
    width: 574px;
    height: 60px;
    left: 110px;
    top: 499.5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.body button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 210px;
    height: 66px;
    left: 110px;
    top: 603.5px;
}
.body button span{
    width: 112px;
    height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #5D5A88;
}