<div>
    <mat-toolbar>
        <button mat-button>
            <span>Home</span>
          </button>
          <button mat-button>
            <span>Match</span>
          </button>
          <button mat-button>
            <span>Mis rutinas</span>
          </button>
          <button mat-button>
            <span>Contratos</span>
          </button>
          <button mat-button>
            <span>Mi perfil</span>
          </button>
          <button mat-button>
            <span>Cerrar sesión</span>
          </button>
    </mat-toolbar>
</div>
<div class="body">
    <h1>Encuentrate y conectate con ese Gymbr@ que nunca encontraste</h1>
    <h5>Lorem ipsum dolor sit amet consectetur 
        adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.</h5>
    <button>
        <span>Haz match ya -></span>
    </button>
    <button>
        <span>Encuentra a tu grupo ideal -></span>
    </button>
    <button>
        <span>Encuentra a tu entrenador ideal -></span>
    </button>
</div>
